<div class="post" id="contact_info">
  <span class="event_type">Contact us at <a href="mailto:terrielillie@comcast.net">TerrieLillie@comcast.net</a></span>
</div>
<br>

<%= render :partial => 'site/list_events', :locals => { :event_type => "Upcoming Events", :events => @upcoming_events } %>
<%= render :partial => 'site/list_events', :locals => { :event_type => "Recent Events", :events => @recent_events } %>
<%= render :partial => 'site/list_attachments', :locals => { :attachments => @attachments } %>
<% if !session[:login_name].nil? %>
  <br><br>
  <% form_tag new_event_path, :method => "post", :id => "new_event" do %>
    <fieldset>
      <legend>New Event</legend>
      Title:<br>
      <%= text_field_tag :title, nil, :size=>55 %><br>
      Description:<br>
      <%= text_field_tag :description, nil, :size=>55 %><br>
      Location:<br>
      <%= text_field_tag :location, nil, :size=>55 %><br>
      Date:<br>
      <%= text_field_tag :date, nil, :size=>12, :class=>"datepicker" %><br>
      Start Time:<br>
      <%= text_field_tag :start, nil, :size=>12 %><br>
      End Time:<br>
      <%= text_field_tag :end, nil, :size=>12 %><br>
      <%= submit_tag "Create" %>
    </fieldset>
  <% end %>
  <br><br>
  <% form_tag new_attachment_path, :multipart => true do %>
    <fieldset>
      <legend>New File</legend>
      File Name:
      <%= text_field_tag :displayname, nil, :size=>55 %>
      Description:
      <%= text_field_tag :description, nil, :size=>55 %>
      <%= file_field_tag 'attachment', :class=>"attachment_field" %>
      <br>
      <%= submit_tag "Upload File" %>
    </fieldset>
  <% end %>
<% end %>
