<div class="padded_block">Followers and servants of Jesus Christ</div>
<div class="padded_block">Biblically Based Cross-Cultural Consultants</div>
<div class="padded_block">f.i.r.e. is an acronym for the name:</div>
<br>
<div class="center_text"><span class="acronym_font">F</span>acilitating <span class="acronym_font">I</span>ntercultural <span class="acronym_font">R</span>elationships <span class="acronym_font">E</span>verywhere</div>
<br>
<div class="padded_block">
We have over forty years of cross-cultural experience in the following countries:
<table class="countries_table">
  <tr>
    <td>Afghanistan</td><td>Cambodia</td><td>Canada</td><td>China</td><td>Hong Kong</td>
  </tr>
  <tr>
    <td>Japan</td><td>Korea</td><td>Malaysia</td><td>Pakistan</td><td>Philippines</td>
  </tr>
  <tr>
    <td>Singapore</td><td>Taiwan</td><td>Thailand</td><td>USA</td>
  </tr>
</table>
</div>
<div class="padded_block">f.i.r.e. is a Christian non-profit organization - 501(c)3</div>
<br>
<% if !@post.nil? %>
  <div class="post">
    <span class="post_title"><%=@post.title%></span>
    <span class="post_user_name"><%=@post.user.display_name%></span>
    <% if !session[:user_id].nil? && session[:user_id]==@post.user_id %>
      <% form_tag delete_post_path(@post.id), :method => "delete", :class => "delete_button" do %>
        <%= image_submit_tag "/images/icons/delete.png", :confirm => "Are you sure you want to delete this post?", :method => "delete" %>
      <% end %>
    <% end %>
    <div class="line_break"></div>
    <div class="post_content"><%=simple_format @post.content%></div>
    | 
    <% if !@prev_post.nil? %>
      <%= link_to "Previous Post", show_post_path(@prev_post.id) %> | 
    <% end %>
    <% if !@next_post.nil? %>
      <%= link_to "Next Post", show_post_path(@next_post.id) %> |
    <% end %>
  </div>
<% end %>
<% if !session[:login_name].nil? %>
  <br><br>
  <% form_tag new_post_path, :method => "post", :id => "new_post" do %>
    <fieldset>
      <legend>New Blog Post</legend>
      Title:<br>
      <%= text_field_tag :title, nil, :size=>55 %><br>
      Content:<br>
      <%= text_area_tag :content, nil, :cols=>55, :rows=>10 %><br>
      <%= submit_tag "Create" %>
    </fieldset>
  <% end %>
<% end %>
